body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202020;
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.calculator {
    background-color: #282828;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
}

.display {
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    
}
.display .expression {
    font-size: 18px;
    color: #888;
}

.display .result {
    font-size: 36px;
    text-align: right;
}



.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background-color: #444;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    padding: 20px;
    text-align: center;

}
.button:hover{
    background-color: #555;
}
.button.operator {
    background-color: #663399;
}

.button.operator:hover {
    background-color: #8844cc;
}

.button.ce, .button.c {
    background-color: #bb44cc;
}

.button.ce:hover, .button.c:hover {
    background-color: #dd66ee;
}